/* Header */
.m.header {
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.m.subheader,
.m.header > .subheader {
  color: @secondaryColor;
  display: block;
  font-size: 50%;
  line-height: 1.5;
}

.m.header.fill {
  background: darken(color(@primaryColor), 40%);
}
